In [1]:
import pandas as pd

df1=pd.read_pickle("CC_df_0-250.pkl")
df2=pd.read_pickle("CC_df_250-500.pkl")
df3=pd.read_pickle("CC_df_500-750.pkl")
df4=pd.read_pickle("CC_df_750-1000.pkl")
df5=pd.read_pickle("CC_df_1000-1250.pkl")
df6=pd.read_pickle("CC_df_1250-1600.pkl")
df=pd.concat([df1, df2, df3, df4, df5, df6])
df.to_pickle("CC_df_all.pkl")

In [33]:
df=pd.read_pickle("CC_df_all.pkl")

In [3]:
def hash_cc():
    df['CC_1']=df['CC2'].apply(lambda x: list(x)[0] if len(list(x))>0 else None)
    df['CC_2']=df['CC2'].apply(lambda x: list(x)[1] if len(list(x))>1 else None)
    df['CC_3']=df['CC2'].apply(lambda x: list(x)[2] if len(list(x))>2 else None)
    df['CC_4']=df['CC2'].apply(lambda x: list(x)[3] if len(list(x))>3 else None)
    df['CC_5']=df['CC2'].apply(lambda x: list(x)[4] if len(list(x))>4 else None)
    df['CC_6']=df['CC2'].apply(lambda x: list(x)[5] if len(list(x))>5 else None)
    return 1

In [4]:
hash_cc()

1

In [52]:
CC_1_set = set(df['CC_1'].tolist())
CC_2_set = set(df['CC_2'].tolist())
CC_3_set = set(df['CC_3'].tolist())
CC_4_set = set(df['CC_4'].tolist())
CC_5_set = set(df['CC_5'].tolist())
CC_6_set = set(df['CC_6'].tolist())

In [53]:
CC_set=set.union(CC_1_set, CC_2_set, CC_3_set, CC_4_set, CC_5_set, CC_6_set)

In [54]:
len(CC_set)
# initial CC_set is 435
# after the first run, it is 142
# after the second it is 92

79

In [ ]:
#CC_set

In [34]:
df=pd.read_pickle('CC_df_all.pkl')
df.drop(columns=['text', 'CC','CC1'], inplace=True)
hash_cc()

1

# Groundwork

In [ ]:
 'THE CAP',
 'THE COMPENSATION CONSULTANT',
 'THE CONSULTANT',
 'THE COOK',
,
 'THE HEWITT',
 'THE HR CONSULTANT',
 'THE HRC MEETINGS',
 'THE INDEPENDENT CONSULTANT',
 'THE MERCER',

 'THE PWC',
 'THE TOWERS'

In [35]:
import re
from tqdm.auto import tqdm

regex1=re.compile(r'^THE\s')
#regex2=re.compile(r'ARTHUR J. GALLAGHER &')
#regex3=re.compile(r'^MERCER')

for n in range (1,7):    
    for i, row in tqdm(df.iterrows(), total=len(df)):
        try:
            w=re.sub(r'^THE\s','', str(row[f'CC_{n}']))
            row[f'CC_{n}']=w
        except:
            continue
            #row[f'CC_{n}']='FTI' # merged names will be coded differently

100%|██████████| 6285/6285 [00:00<00:00, 16470.25it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16584.75it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16692.04it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16323.20it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16734.22it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16583.12it/s]

In [ ]:
{'GALLAGHER BENEFIT SERVICES, INC.', 'JFR' , 'BOARD ADVISORY'} disappears

# REMOVAL

In [ ]:
 'CONSISTENT',
 'CONSULTANT',
 'CONSULTING',
 'CONSULTS'
  'HUMAN RESOURCE CONSULTING',
 'HUMAN RESOURCE CONSULTING, LLC',
 'CONSULTING GROUP, LLC'

 '& GOVERNANCE',
 'ADVISER',
 'ALVAREZ &',
 'ASSOCIATES'

 'CONSULTANT INDEPENDENCE POLICY'

 'FACEBOOK'

 'PARTNERS',


'COMPENSATION STRATEGIES'

In [51]:
black=['THE GOVERNANCE &',
 'THE GOVERNANCE & NOMINATING',
 'THE HARTFORD FINANCIAL SERVICES GROUP'
 'THE MSCI US',
 'THE MSCI US REIT INDEX',
 'THE MSCI US REIT INDEX AND THE S&P'
 ,'TOTAL REWARDS PACKAGES'
 , 'UTILIZE AN INDEPENDENT COMPENSATION CONSULTANT',
 'UTILIZE INDEPENDENT COMPENSATION CONSULTANT'
 ,'\x95COMPENSATION'
 ]

from tqdm.auto import tqdm
for n in range (1,7):
    regex1=re.compile(r'^& (PARTNERS,?\s?(INC)?\.?)$')
    regex2=re.compile(r'^&?\s?CO\.?,?\s?(INC)?\.?$')
    regex3=re.compile(r'\d*[,.]\d*')
    regex4=re.compile(r'^\d')
    regex5=re.compile(r'^& ASSOCIATE(S)?\s?(LLC)?$')
    regex6=re.compile(r'^CONSULTING GROUP,? LLC\.?')
    regex7=re.compile(r'HUMAN RESOURCES? CONSULTING?,?\s?(INC)?')
    regex8=re.compile(r'HUMAN RESOURCES?\s&')
    regex9=re.compile(r'COMPENSATION\sSTRATEGIES')
    for i, row in tqdm(df.iterrows(), total=len(df)):
        # newly added!!
        if any(str(row[f'CC_{n}']) in w for w in black):
            row[f'CC_{n}']=None
            
        if row[f'CC_{n}']=='CONSISTENT' or row[f'CC_{n}']=='CONSULTING' or row[f'CC_{n}']=='CONSULTANT' or row[f'CC_{n}']=='CONSULTS' or row[f'CC_{n}']=='COMPENSATION' or row[f'CC_{n}']=='HUMAN RESOURCE CONSULTING' or row[f'CC_{n}']=='HUMAN RESOURCE CONSULTING, LLC' or row[f'CC_{n}']=='OUR INDEPENDENT CONSULTANT' or row[f'CC_{n}']=='INDEPENDENT CONSULTANT' or row[f'CC_{n}']=='CONSULTING GROUP' or row[f'CC_{n}']=='INDEPENDENT':
            row[f'CC_{n}']=None
        if row[f'CC_{n}']=='CHRISTOPHER J. COUGHLIN' or row[f'CC_{n}']=='ADVISER' or row[f'CC_{n}']=='ASSOCIATES' or row[f'CC_{n}']=='ALVAREZ &' or row[f'CC_{n}']=='CHRO':
            row[f'CC_{n}']=None
        if row[f'CC_{n}']=='CONSULTANT INDEPENDENCE POLICY' or row[f'CC_{n}']=='FACEBOOK' or row[f'CC_{n}']=='GROUP' or row[f'CC_{n}']=='PARTNERS':
            row[f'CC_{n}']=None


        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex4.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex5.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex6.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex7.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex8.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex9.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='COMPENSATION STRATEGIES'

100%|██████████| 6285/6285 [00:00<00:00, 6937.97it/s]
100%|██████████| 6285/6285 [00:00<00:00, 7006.44it/s]
100%|██████████| 6285/6285 [00:00<00:00, 6978.24it/s]
100%|██████████| 6285/6285 [00:00<00:00, 7041.94it/s]
100%|██████████| 6285/6285 [00:00<00:00, 7073.16it/s]
100%|██████████| 6285/6285 [00:00<00:00, 7109.93it/s]

# Miscellaneous

In [ ]:
 'SEMLER     BROSSY CONSULTING GROUP, LLC',
 'SEMLER BROSSY',
 'SEMLER BROSSY CONSULTING     GROUP, LLC',
 'SEMLER BROSSY CONSULTING GROUP',
 'SEMLER BROSSY CONSULTING GROUP LLC',
 'SEMLER BROSSY CONSULTING GROUP, LLC',
 'SEMLER BROSSY, LLC',
 'SHEA',
 'SHEA & ASSOCIATES',
 'SMG',
 'STEVEN',
 'STEVEN HALL',

  'PAY GOVERNANCE',
 'PAY GOVERNANCE LLC',
 'PAY GOVERNANCE, LLC'
 'PAY'
'GOVERNANCE LLC'
  'THE HAY GROUP',
 'THE SCHONBRAUN MCCANN GROUP'

 RADFORD

 'CCA'
 'CCA STRATEGIES'

In [36]:
import re
from tqdm.auto import tqdm

regex1=re.compile(r'ARTHUR ANDERSEN')
regex2=re.compile(r'ARTHUR J. GALLAGHER &')
regex3=re.compile(r'^MERCER')
regex4=re.compile(r'^MERIDIAN')
regex5=re.compile(r'^(SEMLER)|^(BROSSY)')
regex6=re.compile(r'^SHEA')
regex7=re.compile(r'^PAY\s+GOVERNANCE')
regex8=re.compile(r'^GOVERNANCE\sLLC')
regex9=re.compile(r'^GALLAGHER\sBENEFIT(s)?\sSERVICE')
for n in range (1,7):    
    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='ARTHUR ANDERSEN'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='ARTHUR J. GALLAGHER & CO.'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='MERCER'
        if regex4.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='MERIDIAN'
        if regex5.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='SEMLER BROSSY'
        if regex6.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='SHEA & ASSOCIATES'   
        if regex7.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PAY GOVERNANCE'
        if regex8.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PAY GOVERNANCE'   
        if regex9.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='ARTHUR J. GALLAGHER & CO.' 
        if row[f'CC_{n}']=='THE SCHONBRAUN MCCANN GROUP':
            row[f'CC_{n}']='SMG'
        if row[f'CC_{n}']=='PAY':
            row[f'CC_{n}']='PAY GOVERNANCE'
            #row[f'CC_{n}']='FTI' # merged names will be coded differently

100%|██████████| 6285/6285 [00:00<00:00, 12485.63it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12722.92it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12747.49it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12862.52it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12956.87it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12958.61it/s]

# AON

In [ ]:
 'AON',
 'AON AND',
 'AON CONSULTING',
 'AON CONSULTING/',
 'AON CONSULTING/RADFORD',
 'AON GROUP',
 'AON HEWITT',
 'AON HEWITT ASSOCIATES TOTAL COMPENSATION',
 'AON HEWITT COMPANY',
 'AON HEWITT CONSULTING',
 'AON RADFORD',
 'AON/RADFORD',
 'AON/RADFORD CONSULTING'

  'HEWITT',
 'HEWITT     ASSOCIATES',
 'HEWITT     ASSOCIATES LLC',
 'HEWITT     ASSOCIATES, LLC',
 'HEWITT     ASSOCIATES, LLP',
 'HEWITT & ASSOCIATES',
 'HEWITT ASSOCIATES',
 'HEWITT ASSOCIATES LLC',
 'HEWITT ASSOCIATES LLP',
 'HEWITT ASSOCIATES,',
 'HEWITT ASSOCIATES, INC.',
 'HEWITT ASSOCIATES, LLC',
 'HEWITT ASSOCIATES, LLP',
 'HEWITT TOTAL COMPENSATION',

In [37]:
from tqdm.auto import tqdm

regex1=re.compile(r'^AON(?!\s?HEWITT)')
regex2=re.compile(r'AON HEWITT')
regex3=re.compile(r'^HEWITT')
for n in range (1,7):    
    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='AON'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='AON HEWITT'
            #row[f'CC_{n}']='AON'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='HEWITT ASSOCIATES'
            #row[f'CC_{n}']='AON'

100%|██████████| 6285/6285 [00:00<00:00, 17294.58it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17223.09it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17355.09it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17314.21it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17554.62it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17608.47it/s]

# C

In [ ]:
'CCA'
'CCA STRATEGIES'

 'COGENT',
 'COGENT COMPENSATION PARTNERS',
 'COGENT PARTNERS'

In [38]:
from tqdm.auto import tqdm

regex1=re.compile(r'^CCA')
regex2=re.compile(r'^COGENT')
#regex3=re.compile(r'^HEWITT')
for n in range (1,7):    
    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='CCA'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='COGENT COMPENSATION PARTNERS'
        #if regex3.search(str(row[f'CC_{n}'])):
            #row[f'CC_{n}']='HEWITT ASSOCIATES'
            #row[f'CC_{n}']='AON'

100%|██████████| 6285/6285 [00:00<00:00, 18215.87it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18485.29it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18270.36it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18337.72it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18457.61it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18348.26it/s]

# Cook variation

In [ ]:
 'FREDERIC',
 'FREDERIC COOK',
 'FREDERIC COOK &',
 'FREDERIC POSES',
 'FREDERIC W.',
 'FREDERIC W. COOK',
 'FREDERIC W. COOK &',
 'FREDERIC W. COOK AND',
 'FREDERIC W. COOK AND CO.',
 'FREDERIC W. COOK, & CO.',
 'FREDERIC W. CORRIGAN',
 'FREDERICK W.',
 'FREDERICK W. COOK',
 'FREDERICKCOOK',
 'FREDERICKCOOKMPANY',
 'FREDRIC W. CORRIGAN',
 'FREDRICCOOK'

 'COOK',
 'COOK &',
 'COOK FIRM',
 'COOKMPANY',
 'COOKMPANY, INC.'

 'F. W.'
  'FCOOK'

  'MR. PAULIN'

In [39]:
from tqdm.auto import tqdm
for n in range (1,7):
    regex1=re.compile(r'& CO\.,?(\s)+INC\.')
    regex2=re.compile(r'FREDERIC(K)?\s?(W)?\.?\s?(COOK)?')
    regex3=re.compile(r'^COOK')
    for i, row in tqdm(df.iterrows(), total=len(df)):
        if row[f'CC_{n}']=='FREDERIC W. CORRIGAN' or row[f'CC_{n}']=='FREDRIC W. CORRIGAN' or row[f'CC_{n}']=='FREDERIC W. CORRIGAN':
            continue
        if row[f'CC_{n}']=='FREDRICCOOK' or row[f'CC_{n}']=='W. COOK' or row[f'CC_{n}']=='COOK &' or row[f'CC_{n}']=='F. W.' or row[f'CC_{n}']=='FCOOK' or row[f'CC_{n}']=='MR. PAULIN' or row[f'CC_{n}']=='THE COOK FIRM':
            row[f'CC_{n}']='COOK'
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='COOK'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='COOK'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='COOK'
        if str(row[f'CC_{n}'])=="GEORGE B. PAULIN":
            row[f'CC_{n}']='COOK'
        if str(row[f'CC_{n}'])=="GEORGE PAULIN": 
            row[f'CC_{n}']='COOK'
        if str(row[f'CC_{n}'])=="FWC":
            row[f'CC_{n}']='COOK'
        if str(row[f'CC_{n}'])=="FREDERIC W. COOK":
            row[f'CC_{n}']='COOK'
        if str(row[f'CC_{n}'])=="FREDERIC W. COOK & CO.":
            row[f'CC_{n}']='COOK'
        if str(row[f'CC_{n}'])=="COOK & CO.":
            row[f'CC_{n}']='COOK'
        if str(row[f'CC_{n}'])=="F.W.":
            row[f'CC_{n}']='COOK'

100%|██████████| 6285/6285 [00:00<00:00, 10153.51it/s]
100%|██████████| 6285/6285 [00:00<00:00, 10245.73it/s]
100%|██████████| 6285/6285 [00:00<00:00, 10240.90it/s]
100%|██████████| 6285/6285 [00:00<00:00, 10286.44it/s]
100%|██████████| 6285/6285 [00:00<00:00, 10430.21it/s]
100%|██████████| 6285/6285 [00:00<00:00, 9897.65it/s]

# Pearl variation

In [ ]:
 'PEARL',
 'PEARL     ',
 'PEARL MEYER',
 'PEARL MEYER &     PARTNERS',
 'PEARL MEYER AND PARTNERS'
  'PM&P',
 'PM&P PARTNERS LLC',
 'PMP'
 'PEARL MEYER & PARTNERS'

In [40]:
import re
regex1=re.compile(r'MEYER & PARTNERS')
regex2=re.compile(r'^PEARL\s+')
regex3=re.compile(r'^PM&?P')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PEARL'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PEARL'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PEARL'
        #if str(row[f'CC_{n}'])=='GIBSON DUNN':
            #row[f'CC_{n}']='PEARL'

100%|██████████| 6285/6285 [00:00<00:00, 16411.82it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16575.24it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16628.21it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16804.76it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16407.73it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16846.55it/s]

# Towers Watson

In [ ]:
 'TOWER PERRIN',
 'TOWER WATSON',
 'TOWERS',
 'TOWERS     ',
 'TOWERS     PERRIN',
 'TOWERS PERIN',
 'TOWERS PERRIN',
 'TOWERS PERRIN HR SERVICES',
 'TOWERS PERRIN LLP',
 'TOWERS WATSON',
 'TOWERS WATSON &',
 'TOWERS WATSON & CO.',
 'TOWERS WATSON CDB',
 'TOWERS, PERRIN',
 'TOWERS, PERRIN, FORSTER & CROSBY',
 'TOWERS-PERRIN'
 'WATSON',
 'WATSON & WYATT',
 'WATSON & WYATT WORLDWIDE',
 'WATSON WYATT',
 'WATSON WYATT & COMPANY',
 'WATSON WYATT WORLDWIDE',
 'WATSON WYATT WORLDWIDE, INC.',
 'WEIDEMEYER',
 'WILLIS',
 'WILLIS GROUP',
 'WILLIS TOWERS WATSON',
 'WOK ACQUISITION CORP.',
 'WYATT',
 'WYATT & COMPANY',
 'WYATT WORLDWIDE'

  'TOWERS WATSON',
 'TOWERS WATSON &',
 'TOWERS WATSON & CO.',
 'TOWERS WATSON CDB'

  'JOHN ENGLAND'
   'PERRIN',

    'TOWERS     WATSON AND',
 'TOWERS AND'

In [41]:
import re
regex1=re.compile(r'TOWER(S)?[,-]?\s?PERR?IN')
regex2=re.compile(r'^WATSON ')
regex3=re.compile(r'^WILLIS$')
regex4=re.compile(r'^WYATT')
regex5=re.compile(r'^TOWERS\sWATSON')
regex6=re.compile(r'^PERR?IN')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if str(row[f'CC_{n}'])=='TOWERS     ':
            row[f'CC_{n}']='TOWERS'

        if str(row[f'CC_{n}'])=='TOWERS     PERRIN':
            row[f'CC_{n}']='TOWERS PERRIN'

        if str(row[f'CC_{n}'])=='JOHN ENGLAND':
            row[f'CC_{n}']='TOWERS PERRIN'

        if str(row[f'CC_{n}'])=='TOWER WATSON':
            row[f'CC_{n}']='TOWERS WATSON'

        if str(row[f'CC_{n}'])=='TOWERS AND':
            row[f'CC_{n}']='TOWERS'

        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='TOWERS PERRIN'
   
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='WATSON WYATT'

        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='WILLIS'

        if regex4.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='WATSON WYATT'

        if regex5.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='TOWERS WATSON'

        if regex6.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='TOWERS PERRIN'

100%|██████████| 6285/6285 [00:00<00:00, 12645.11it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12862.63it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12909.61it/s]
100%|██████████| 6285/6285 [00:00<00:00, 13022.48it/s]
100%|██████████| 6285/6285 [00:00<00:00, 12879.13it/s]
100%|██████████| 6285/6285 [00:00<00:00, 13038.47it/s]

# COMPENSATION

In [ ]:
'COMPENSATION ADVISORY PARTNER',
 'COMPENSATION ADVISORY PARTNERS',
 'COMPENSATION ADVISORY PARTNERS LLC',
 'COMPENSATION ADVISORY PARTNERS LLP',
 'COMPENSATION ADVISORY PARTNERS, LLC',
 'COMPENSATION STRATEGIES',
 'COMPENSATION STRATEGIES INC.',
 'COMPENSIA',
 'COMPENSIA,',
 'COMPENSIA, INC.',

In [42]:
import re
regex1=re.compile(r'^COMPENSATION ADVISORY\s?(PARTNER)?')
regex2=re.compile(r'^COMPENSATION\s?STRATEGIES')
regex3=re.compile(r'^COMPENSIA')

for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='CAP'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='COMPENSATION STRATEGIES'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='COMPENSIA'

100%|██████████| 6285/6285 [00:00<00:00, 17505.47it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17676.84it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17594.38it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17745.90it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17802.82it/s]
100%|██████████| 6285/6285 [00:00<00:00, 17704.11it/s]

# Deloitte

In [ ]:
 'DELOITTE',
 'DELOITTE &',
 'DELOITTE & TOUCHE LLP',
 'DELOITTE CONSULTING',
 'DELOITTE CONSULTING LLP',
 'DELOITTE CONSULTING, LLP',
 'DELOITTE LLP',
 'DELOITTE TAX, LLP'

 'D&T'

In [43]:
import re
regex1=re.compile(r'^DELOITTE')
regex2=re.compile(r'D&T')

for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='DELOITTE'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='DELOITTE'

100%|██████████| 6285/6285 [00:00<00:00, 18594.68it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18592.31it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18483.19it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18322.00it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18649.79it/s]
100%|██████████| 6285/6285 [00:00<00:00, 18296.15it/s]

# E&Y, Exequity

In [ ]:
'E&Y',
 'EOAIP',
 'EQUILAR INC.',
 'ERNST &     YOUNG LLP',
 'ERNST & YOUNG',
 'ERNST & YOUNG LLP',
 'ERNST AND YOUNG',
 'EXEQUITY',
 'EXEQUITY L.L.P.',
 'EXEQUITY LLP',

 'EQUILAR',
 'EQUILAR COMPENSATION',
 'EQUILAR SERVICE',

In [44]:
import re
regex1=re.compile(r'^ERNST\s?')
regex2=re.compile(r'EXEQUITY')
regex3=re.compile(r'^EQUILAR')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='E&Y'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='EXEQUITY'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='EQUILAR'
        if str(row[f'CC_{n}'])=="EY":
            row[f'CC_{n}']='E&Y'

100%|██████████| 6285/6285 [00:00<00:00, 16653.91it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16911.33it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16833.93it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16709.38it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16895.65it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16599.97it/s]

# F

In [ ]:
,
 'FACEBOOK',
 'FACEBOOK AND LINKEDIN',
 'FARIENT',
 'FARIENT ADVISORS',
 'FARIENT ADVISORS LLC',
,
 'FFO',
 'FLANIGAN',
 'FORBES',
 'FPL',
 'FPL ASSOCIATES',
 'FPL ASSOCIATES, L.P.',
 'FPL GROUP',
 'FREDERIC W. CORRIGAN',
 'FREDRIC W. CORRIGAN',
 'FTI',
 'FTI CONSULTING',
 'FTI CONSULTING, INC.',
 'FTI SCHONBRAUN MCCANN GROUP',

  'FIT',
 'FIT REMUNERATION CONSULTANTS LLP'

In [45]:
import re
regex1=re.compile(r'^FARIENT')
regex2=re.compile(r'^FPL')
regex3=re.compile(r'^FTI')
regex4=re.compile(r'^FIT')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if str(row[f'CC_{n}'])=="FLP ASSOCIATES":
            row[f'CC_{n}']='FPL'
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='FARIENT'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='FPL'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='FTI'
        if regex4.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='FIT REMUNERATION CONSULTANTS'

100%|██████████| 6285/6285 [00:00<00:00, 15591.94it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16069.01it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15905.33it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16033.90it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16031.95it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16028.25it/s]

In [ ]:
# G

In [ ]:
'GRESSLE & MCGINLEY LLC'
'GIBSON, DUNN & CRUTCHER LLP'

In [46]:
regex1=re.compile(r'^GRESSLE\s(&|AND)\sMCGINLEY')
regex2=re.compile(r'^GIBSON\sDUNN')
#regex3=re.compile(r'STEVEN HALL\s&\sPARTNERS')
#regex4=re.compile(r'^STEVEN HALL\s')
#regex3=re.compile(r'^FTI')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='GRESSLE & MCGINLEY'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        #if regex3.search(str(row[f'CC_{n}'])):
            #row[f'CC_{n}']='STEVEN HALL'
        #if regex4.search(str(row[f'CC_{n}'])):
            #row[f'CC_{n}']='STEVEN HALL'

100%|██████████| 6285/6285 [00:00<00:00, 19169.50it/s]
100%|██████████| 6285/6285 [00:00<00:00, 19832.78it/s]
100%|██████████| 6285/6285 [00:00<00:00, 19824.36it/s]
100%|██████████| 6285/6285 [00:00<00:00, 19950.46it/s]
100%|██████████| 6285/6285 [00:00<00:00, 20077.93it/s]
100%|██████████| 6285/6285 [00:00<00:00, 20128.85it/s]

# H

In [ ]:
 'HALL',
 'HALL PARTNERS',
  'STEVEN HALL',
 'STEVEN HALL & PARTNERS',
 'STEVEN HALL & PARTNERS, LLC',
 'STEVEN HALL & PARTNERS, LLP'
 
 'HAY',
 'HAY     GROUP',
 'HAY GROUP',
 'HAY GROUP,',
 'HAY GROUP, INC.',
 'HAY TOTAL',
 'HAYGROUP'

 'STEVEN HALL AND PARTNERS',
 'STEVEN HALL OF',

In [47]:
import re
regex1=re.compile(r'^HALL\s?&?\s?PARTNERS')
regex2=re.compile(r'(THE)?\s?HAY\s?(GROUP)?')
regex3=re.compile(r'STEVEN HALL\s&\sPARTNERS')
regex4=re.compile(r'^STEVEN HALL\s')
#regex3=re.compile(r'^FTI')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='STEVEN HALL'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='HAY GROUP'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='STEVEN HALL'
        if regex4.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='STEVEN HALL'

100%|██████████| 6285/6285 [00:00<00:00, 16439.52it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16560.42it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16197.12it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16671.56it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16579.26it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16623.92it/s]

# I

In [ ]:
 'INDEPENDENT ADVISER TO COMPENSATION',
 'INDEPENDENT ADVISOR',
 'INDEPENDENT BUSINESS ADVISER AND CONSULTANT',
 'INDEPENDENT COMMITTEE CONSULTANT',
 'INDEPENDENT COMPENSATION COMMITTEE',
 'INDEPENDENT COMPENSATION COMMITTEE ADVISER',
 'INDEPENDENT COMPENSATION COMMITTEE CONSULTANT',
 'INDEPENDENT CONSULTANT AND PEER',
 'INDEPENDENT CONSULTANT BENCHMARKING',
 'INDEPENDENT MANAGEMENT CONSULTANT',
'INDEPENDENT BUSINESS ADVISER AND CONSULTANT',

'INDEPENDENT COMPENSATION COMMITTEE',
'INDEPENDENT COMPENSATION COMMITTEE CONSULTANT',
'INDEPENDENT MANAGEMENT CONSULTANT'

In [48]:
regex1=re.compile(r'^independent\sconsultant', re.I)
regex2=re.compile(r'^independent\sadvis[eo]r', re.I)
regex3=re.compile(r'^independent\s?(compensation)?\s?committee(?!\sadvisor)', re.I)
regex4=re.compile(r'^independent compensation consultant (?!advisor)')
regex5=re.compile(r'^INDEPENDENT\sCOMPENSATION\sCOMMITTEE\sADVISER')
regex6=re.compile(r'INDEPENDENT MANAGEMENT CONSULTANT')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex4.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None
        if regex5.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='ICCA'
        if regex6.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']=None

100%|██████████| 6285/6285 [00:00<00:00, 15439.85it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15272.93it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15124.36it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15443.47it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15401.72it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15485.64it/s]

# J

In [ ]:
 'JAMES F. REDA',
 'JAMES F. REDA & ASSOCIATES',
 'JAMES F. REDA & ASSOCIATES LLC',
 'JAMES F. REDA AND ASSOCIATES',
 "MR. REDA"
 'REDA'
 'JFR'

 'JOHNSON ASSOCIATES',
 'JOHNSON ASSOCIATES AND'

In [49]:
import re
regex1=re.compile(r'JAMES F. REDA')
regex2=re.compile(r'^REDA$')
regex3=re.compile(r'^JOHNSON ASSOCIATES')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='JAMES F. REDA'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='JAMES F. REDA'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='JOHNSON ASSOCIATES'
        if str(row[f'CC_{n}'])=='MR. REDA':
            row[f'CC_{n}']='JAMES F. REDA'
        if str(row[f'CC_{n}'])=='JFR':
            row[f'CC_{n}']='JAMES F. REDA'

100%|██████████| 6285/6285 [00:00<00:00, 15800.89it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16029.32it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15957.07it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15906.53it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16239.19it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16234.96it/s]

# P R

In [ ]:
 'PRICEWATERHOUSECOOPERS LLC',
 'PWC LLP'
 'Coopers & Lybrand'

,'RADFORD',
 'RADFORD 2010 EXECUTIVE COMPENSATION',
 'RADFORD ASSOCIATES',
 'RADFORD ASSOCIATES EXECUTIVE PAY',
 'RADFORD CONSULTING'

'REYNOLDS ASSOCIATES'

In [50]:
regex1=re.compile(r'PRICEWATERHOUSECOOPERS')
regex2=re.compile(r'^PWC\s')
regex3=re.compile(r'^RADFORD')
regex4=re.compile(r'^COOPERS\s(AND|&)\sLYBRAND')
regex5=re.compile(r'^(RUSSELL)?\s?REYNOLDS\sASSOCIATES')
for n in range(1,7):
    from tqdm.auto import tqdm

    for i, row in tqdm(df.iterrows(), total=len(df)):
        if regex1.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PWC'
        if regex2.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PWC'
        if regex3.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='RADFORD'
        if regex4.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='PWC'
        if regex5.search(str(row[f'CC_{n}'])):
            row[f'CC_{n}']='RUSSEL REYNOLDS ASSOCIATES'
        #if str(row[f'CC_{n}'])=='MR. REDA':
            #row[f'CC_{n}']='JAMES F. REDA'

100%|██████████| 6285/6285 [00:00<00:00, 15477.15it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16032.01it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15951.78it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16069.52it/s]
100%|██████████| 6285/6285 [00:00<00:00, 16052.73it/s]
100%|██████████| 6285/6285 [00:00<00:00, 15992.17it/s]

# save

In [55]:
df.to_pickle('CC_df_all_clean1.pkl')

# Load

In [29]:
import pandas as pd
df=pd.read_pickle('CC_df_all_clean1.pkl')
df.to_csv('CC_df_all_clean1.csv')

In [24]:
#df=df.drop(columns=['tic','file_name','CC2'])

## CREATE a new column by first making a list and append it to df

In [56]:
from tqdm.auto import tqdm
l=[]
for i, row in tqdm(df.iterrows(), total=len(df)):
    s=set((str(row['CC_1']),str(row['CC_2']),str(row['CC_3']),str(row['CC_4']),str(row['CC_5']),str(row['CC_6'])))
    try:
        s.remove('None')
    except: 
        pass
    l.append(s)

100%|██████████| 6285/6285 [00:00<00:00, 15626.23it/s]

In [57]:
df['CC']=l

In [58]:
df.to_csv('CC_df_all_clean2.csv')

In [ ]:
pd.options.display.max_rows=10000

pd.options.display.max_colwidth=None

In [ ]:
# keep CC and CC_sentence only
column_order = ['CC_sentence', 'CC']
df2 = df.reindex(columns=column_order)

In [ ]:
# LEt's see the dataframe
df2

In [ ]:
#df2.to_pickle('CC_df_all_clean2.pkl')

In [ ]:
df2.loc['1555280','CC_sentence'].loc['2014']

## remove duplicates

In [ ]:
It would be better to sort out duplicates in Stata, using 
- bysort , gen N=_N, 
- then drop if mi(CC) & N>1
for CC change paterns, 
- sort cik year
- by cik: replace var1=0 if var1[_n-1]==1 & var1==1 & var1[_n+1]==0 & var2[_n-1]==0 & var2==1 & var2[_n+1]==1

In [ ]:
l=df2.index.duplicated(keep='last')
not_duplicate=~l
df3=df2[not_duplicate]

In [ ]:
# check weird results

In [ ]:
cik=input('CIK?')
year=input('year')
year='20'+year
print(cik, year)
print(df3.loc[cik,'CC'].loc[year])
df3.loc[cik,'CC_sentence'].loc[year]

In [ ]:
df.to_csv('CC_df_all_clean3.csv')

In [ ]:
# to make a list of CC in a column. You can get a list of CCs
col_one_list = df['one'].tolist()

# create a dummy variable
# https://www.geeksforgeeks.org/how-to-create-dummy-variables-in-python-with-pandas/

# import required modules
import pandas as pd
import numpy as np
  
# create dataset
df = pd.DataFrame({'A': ['hello', 'vignan', 'geeks'],
                   'B': ['vignan', 'hello', 'hello'],
                   'C': [1, 2, 3]})
  
# display dataset
print(df)
  
# create dymmy variables
pd.get_dummies(df)

In [ ]:
# Then, do a running sum by cik.
# https://stackoverflow.com/questions/29836477/pandas-create-new-column-with-count-from-groupby
df.groupby(["item", "color"])["id"].transform("count")
# https://stackoverflow.com/questions/29791785/python-pandas-add-a-column-to-my-dataframe-that-counts-a-variable
df['count'] = df.groupby('group')['group'].transform('count')

In [ ]:
df['CC2']=df['CC2'].apply(cook)

In [ ]:
df.info()

In [ ]:
df_multiCC=df[df['CC2'].apply(lambda x: len(x)>1)]

In [ ]:
df_multiCC.info()

In [ ]:
df_multiCC.loc['66740', 'CC2'].loc['2007']

In [ ]:
list(df_multiCC.loc['66740', 'CC2'].loc['2007'])

In [ ]:
#df_multiCC['CC3']=df_multiCC['CC2'].apply(cook)

In [ ]:
#df_multiCC.loc['66740', 'CC2'].apply(cook)

In [ ]:
pd.options.display.max_rows=1000

In [ ]:
df.loc['874761','CC_sentence'].loc['2009']

In [ ]:
df

# check that have multiple CCs

In [ ]:
df.loc['796343', 'CC_sentence'].loc['2012']

In [ ]:
df[df['CC2'].apply(lambda x: len(x)>1)]

In [ ]:
df.loc['718877','CC2'].loc['2016']

In [ ]:
df.loc['718877','CC_sentence'].loc['2016']